<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="tsms_Binding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.tsms.ir/soapWSDL/" binding="basicHttpBinding" bindingConfiguration="tsms_Binding" contract="ServiceReference1.tsmsService" name="tsms_Port" />
    </client>
  </system.serviceModel>
  <connectionStrings>
    <add name="schooldbEntities2" connectionString="Data Source=.;Initial Catalog=schooldbNew;persist security info=True;user id=sa;password=sa123sa;MultipleActiveResultSets=True;" providerName="System.Data.sqlclient" />
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>